// ============ SYS ===============
IO_LOC "clk" H11;  // 27MHz
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rstn" C7;
IO_PORT "rstn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


// ============ SPI LCD ===============
IO_LOC "spilcd_clk" F12;  // lcd_clk
IO_PORT "spilcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spilcd_data" L15;  // lcd_data
IO_PORT "spilcd_data" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spilcd_cs" C16;  // lcd_cs
IO_PORT "spilcd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spilcd_rs" J13;  // lcd_rs
IO_PORT "spilcd_rs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spilcd_bl" P12;  // lcd_bl
IO_PORT "spilcd_bl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spilcd_rstn" G13;  // lcd_rstn
IO_PORT "spilcd_rstn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


// ============ Interface ===============
// IO_LOC "GPIOB[0]" M11;  // UART_TX
// IO_PORT "GPIOB[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOB[1]" T13;  // UART_RX
// IO_PORT "GPIOB[1]" IO_TYPE=LVCMOS33;
// IO_LOC "GPIOA[0]" L16;  // LED1
// IO_PORT "GPIOA[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[1]" L14;  // LED2
// IO_PORT "GPIOA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[2]" N14;  // LED3
// IO_PORT "GPIOA[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[3]" N16;  // LED4
// IO_PORT "GPIOA[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[14]" A13;  // LED5
// IO_PORT "GPIOA[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[15]" C13;  // LED6
// IO_PORT "GPIOA[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[4]" T10;  // BUTTOM1
// IO_PORT "GPIOA[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[5]" T3 ;  // BUTTOM2
// IO_PORT "GPIOA[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[6]" T2 ;  // BUTTOM3
// IO_PORT "GPIOA[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "GPIOA[7]" D7 ;  // BUTTOM4
// IO_PORT "GPIOA[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
